@import '../login/login.css';

#popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #000000d1;

  &.active {
    display: flex;
  }
}
