<section class="gift">
  <div class="gift__container">
    <h2>Вам подарок</h2>
    <img src="/assets/gif/droll-woman-with-delivered-gift.gif" alt="">
  </div>
  <form class="gift__form">
    <p>Давайте придумаем какой-то подарок, но не банальную скидку, а что-то интереснее, или с "правильной" формулировкой. Типа закажите приложение только на 1 платформу, и второе приложение мы вам подарим! Или можно подарить какое-нибудь исследование. В общем это завлекуха</p>
    <label class="form_label">
      <input name="email" type="text" placeholder="введите email" class="form_input">
      <span class="input_error">Обязательное поле *</span>
    </label>
    <button class="gift__button">Получить</button>
  </form>
</section>
