@import './blocks/ios/ios.css';
@import './blocks/laptop/laptop.css';
@import './blocks/android/android.css';

#gadgets {
  position: sticky;
  top: 130px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  max-height: 800px;
  padding: 0 50px;
}
