#gadgets {
  position: sticky;
  top: 130px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  padding: 0 20px;
}

.gadget_ios {
  position: relative;
  display: flex;
  flex: 1;
}

.gadget_ios__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gadget_ios__screen {
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3.5vw 25px 25px;
  background: #1c1e20;
  border-radius: 4vw;
}

.gadgets_ios__logo {
  width: 90%;
  height: 100%;
}

.gadget_laptop {
  position: relative;
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}

.gadget_laptop__img {
  width: 100%;
  height: auto;
  max-height: 750px;
  object-fit: contain;
}

.gadget_laptop__screen {
  position: absolute;
  top: 1%;
  z-index: -1;
  display: flex;
  width: 80%;
  max-width: 750px;
  height: 65%;
  background: #1c1e20;
}

.gadget_android {
  position: relative;
  display: flex;
  flex: 1;
}

.gadget_android__img {
  width: 100%;
  height: 100%;
}

.gadget_android__screen {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 3.5vw 25px 25px;
  background: #1c1e20;
  border-radius: 4vw;
}

.gadget_android__logo {
  width: 100%;
  height: 100%;
}
