<section id="gadgets">
{% include "../backgrounds/2/2.html" %}

  <div class="gadget_ios">
    <div class="gadget_ios__screen">{% include "./blocks/ios/ios_screen_content.html" %}</div>
    <img src="../../../assets/img/apple-iphone-15.webp" alt="iphone 15" class="gadget_ios__img">
  </div>
  <div class="gadget_laptop">
    <div class="gadget_laptop__screen">{% include "../title/title.html" %}</div>
    <img src="../../../assets/img/MacBook.webp" alt="MacBook" class="gadget_laptop__img" />
  </div>
  <div class="gadget_android">
    <div class="gadget_android__screen">{% include "./blocks/android/android_screen_content.html" %}</div>
  <img src="../../../assets/img/google-pixel-5.webp" alt="google pixel 5" class="gadget_android__img">
  </div>
</section>
