<section class="stats">
  <div class="stats__container_left">
    <h2>Не упускайте важное</h2>
    <p>Мы собираем и анализируем большой объем данных.</p>
    <div class="stats__item_big">
      <div class="stats__item_big_left">
        <p>за сегодня</p>
        <div class="stats__item_small">
          <div class="stats__item_small_data">
            <div class="stats__item_small_left">
              <strong>103</strong>
              <span>Заказа</span>
            </div>

            <img
              src="https://ouch-cdn2.icons8.com/YbPFCz5jKSiup5uzepXmbL8OFVUAX-IQAg-deozc2AA/rs:fit:256:88/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvOTAy/LzlmMzRlZGY4LWNj/OWEtNDcxMy1hNWU2/LTY5ZGJjYTIyMTZh/OC5zdmc.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="stats__item_big_right">
        <p>Данные</p>
        <div class="stats__item_gig_pie">
          <img
            src="https://ouch-cdn2.icons8.com/dBMmv-IGEKMUrSFTo5Qz5t8swT9AVaVw-Ucvl_mJPoM/rs:fit:256:248/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMzE0/L2FjMTAxZGNmLTFk/OWMtNGE2Yi05ZmI0/LTRlZDcxYWIyMTYz/Yi5zdmc.png"
            alt=""
          />
          <ul>
            <li>Посетители</li>
            <li>Заказы</li>
            <li>Оплаты</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="stats__container_right">
    <img src="/assets/gif/droll-statistic_2.gif" alt="" />
    {#
    <div class="stats__item"></div>
    #}
    <div class="stats__item_order">
      <span class="tab1">Заказы</span>
      <ul class="stats__order_list">
        <li class="stats__order_item">
          <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
            alt=""
          />
          <strong>Екатерина Юрьевна</strong>
          <span><img src="https://img.icons8.com/stickers/1x/money.png" alt="" /> 30000 ₽</span>
        </li>
        <li class="stats__order_item">
          <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Sunglasses&facialHairType=BeardLight&facialHairColor=BlondeGolden&clotheType=ShirtVNeck&clotheColor=Black&eyeType=WinkWacky&eyebrowType=RaisedExcitedNatural&mouthType=Smile&skinColor=Light"
          />
          <strong>Илья Анатольевич</strong>
          <span
            ><img src="https://img.icons8.com/stickers/1x/mastercard-credit-card.png" alt="" />
            150000 ₽</span
          >
        </li>
        <li class="stats__order_item">
          <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairNotTooLong&accessoriesType=Kurt&hairColor=Platinum&facialHairType=Blank&clotheType=Overall&clotheColor=White&eyeType=EyeRoll&eyebrowType=RaisedExcitedNatural&mouthType=Concerned&skinColor=Light"
          />
          <strong>Дарья Петрова</strong>
          <span
            ><img src="https://img.icons8.com/stickers/1x/mastercard-credit-card.png" alt="" />
            300000 ₽</span
          >
        </li>
        <li class="stats__order_item">
          <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Wayfarers&hairColor=Platinum&facialHairType=BeardMajestic&facialHairColor=Brown&clotheType=BlazerSweater&eyeType=Surprised&eyebrowType=SadConcernedNatural&mouthType=Smile&skinColor=Light"
          />
          <strong>Нестор Петрович</strong>
          <span
            ><img src="https://img.icons8.com/stickers/1x/money.png" alt="" />
            1500 ₽</span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
