#cat {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 20;
  transform: scale(0.8);
  transform-origin: bottom left;
  visibility: hidden;
  opacity: 0;
  transition: all 100ms;

  &.active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

#catImg {
  width: 150px;
  height: 150px;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px #222);
}

.cat_container {
  position: absolute;
  bottom: calc(100% - 20px);
  left: calc(100% - 20px);
  display: flex;
  width: auto;
  min-width: 400px;
  max-height: 200px;
  padding: 20px;
  color: var(--c-black);
  font-size: 0.9em;
  background: var(--c-white);
  border-radius: 24px 6px 24px 0;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #aeaeae9c,
    inset -5px -5px 10px #9e9e9e73;
  transform: scale(0);
  transform-origin: bottom left;
  transition: all 150ms;
  transition-delay: 100ms;

  &.active {
    transform: scale(1);
  }
}

#catContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;

  & .native {
    min-width: 500px;
  }
}

[name='closeCat'] {
  top: 2px;
  right: 2px;
}
