<div id="cat">
  {# <img src="/assets/img/ginger-cat-show.png" alt="кот показывает лапой" data-cat="show" /> #}

  <img
    src="/assets/img/ginger-cat-cat-with-book.png"
    alt="кот в очках и с книгой"
    data-cat="book"
  />

  {# <img src="/assets/img/ginger-cat-sad.png" alt="грустный кот" data-cat="sad" /> #}

  <div class="cat_container">
    <button type="button" name="closeCat"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" ><path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></button>
    <div id="catContent">

    </div>
  </div>
</div>
