@import './performance_list/performance_list.css';

.performance {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 100px;
  background: var(--c-bg);
}

.performance_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 300px;

  & h2 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.2;
    text-transform: uppercase;

    & .title_dash {
      color: #ffe761;
      text-shadow: 4px 4px 0 #ffc94a;
      -webkit-text-stroke: 2px var(--c-bg);
    }
  }

  & img {
    position: absolute;
    right: -50px;
    width: 500px;
    height: auto;
    transform: translateY(-110px);
  }
}

.performance_header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.performance_header__button_container {
  display: flex;
  align-items: center;
  height: 100%;
}

.performance_description {
  padding: 10px 0;
  font-size: 1.5em;
  opacity: 0.8;
}
