<section class="performance">
  <div class="performance_header">
    <div class="performance_header__container">
      <h2>
        Увеличим {{ text.shadow("прибыль") }} <br />
        на {{ text.dash("40% +") }}
      </h2>
      <div class="performance_header__button_container">
        {{ buttons.buttonGold('Хочу зарабатывать больше', 'button', 'makeOrder') }}
      </div>
    </div>
    <img src="../../../../assets/gif/dazzle-money-rise.gif" alt="" />
  </div>
  <p class="performance_description">
    Нажмите, чтобы узнать за счет чего мы можем увеличить прибыль
  </p>
  {% include "src/templates/blocks/performance/performance_list/performance_list.html" %}
</section>
