<section class="performance">
  <div class="performance_header">
    <div class="performance_header__container">
      <h2>
        Увеличим <span class="title_dash">прибыль</span> <br />
        на <span class="title_border">40% +</span>
      </h2>
      <div class="performance_header__button_container">
        <button>Хочу зарабатывать больше</button>
        {# <button type="button">Хочу зарабатывать больше <span class="button_arrow"></span></button> #}
      </div>
    </div>
    {# <img src="../../../../assets/gif/dazzle-money-rise.gif" alt="" /> #}
  </div>
  <p class="performance_description">
    Нажмите, чтобы узнать за счет чего мы можем увеличить прибыль
  </p>
  {% include "src/templates/blocks/performance/performance_list/performance_list.html" %}
</section>
