{% set title = "Супер-гуд" %} {% set keywords = "" %} {% set description = "" %} {% extends
"src/templates/layout.html" %} {% block content %} {% include
"src/templates/blocks/gadgets/gadgets.html" %}
<main>
  {% include "src/templates/blocks/performance/performance.html" %}
  {% include "src/templates/blocks/platforms/platforms.html" %}
   {% include
  "src/templates/blocks/stats/stats.html" %}
  {% include "src/templates/blocks/rates/rates.html" %}
  {% include "src/templates/blocks/gift/gift.html" %}
</main>
{# {% include "src/templates/blocks/popup/popup.html" %} #} {% endblock %}
