{% set mataTitle = "Супер-гуд" %} {% set keywords = "" %} {% set description = "" %}
{% import "src/templates/elements/buttons/buttons.html" as buttons %}
{% import "src/templates/elements/forms/forms.html" as forms %}
{% import "src/templates/elements/text/text.html" as text %}
{% extends
"src/templates/layout.html" %}
{% block content %}
{% include
"src/templates/blocks/gadgets/gadgets.html" %}
<div id="scroll"></div>
<main>
  {% include "src/templates/blocks/performance/performance.html" %} {% include
  "src/templates/blocks/platforms/platforms.html" %} {% include
  "src/templates/blocks/stats/stats.html" %} {% include "src/templates/blocks/rates/rates.html" %}
  {% include "src/templates/blocks/gift/gift.html" %}
</main>
{% endblock %}
